

<div class="card m-5" >
    <div class="card-body">
        <h5 class="card-title"> @SharedLocalizer["Warning"]!!</h5>
        <p class="card-text"> @SharedLocalizer["Are you sure you want to delete this user"]: <strong>"@Model.First_Name  @Model.Last_Name"</strong> </p>
        <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="User" asp-route-id="@Model.Id">@SharedLocalizer["Yes"]</a>
        @if (Model.Role == "Buyer")
        {
            <a class="btn btn-info" asp-action="GetBuyers" asp-controller="User">@SharedLocalizer["Cancel"]</a>
        }

        else
        {
            <a class="btn btn-info" asp-action="GetSellers" asp-controller="User">@SharedLocalizer["Cancel"]</a>
        }
       
    </div>
</div>




