@using X.PagedList.Mvc.Core
@model IPagedList<User>
@{
    int i = 0;
}
<link rel="stylesheet" href="~/css/PagedList.css" />
<form class="form-inline">
    <p class="navbar-brand ml-3">@SharedLocalizer["Search Sellers by First Name"]:</p>
        <input class="form-control mr-sm-2" name="SearchedString" value="@ViewData["search"]" type="text" aria-label="Search">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="@SharedLocalizer["Search"]"></input>
    <a class="m-5" asp-action="GetSellers" asp-controller="User">@SharedLocalizer["Return to full list"]</a>
    </form>
    <hr />

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@SharedLocalizer["First Name"]</th>
                <th scope="col">@SharedLocalizer["Last Name"]</th>
                <th scope="col">@SharedLocalizer["Email"]</th>
                <th scope="col">@SharedLocalizer["User Name"]</th>
                <th scope="col">@SharedLocalizer["Mobile Number"]</th>
                <th scope="col">@SharedLocalizer["Delete"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.ToList<User>())
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@user.First_Name</td>
                    <td>@user.Last_Name</td>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td>@user.PhoneNumber</td>
                   @* <td>@user.Created_at</td>
                    <td>@user.modified_at</td>*@
                    <td>
                        <a class="btn btn-danger" asp-action="ConfirmDelete" asp-controller="User"
                       asp-route-id="@user.Id"
                       asp-route-FirstName="@user.First_Name"
                       asp-route-LastName="@user.Last_Name"
                       asp-route-Role=@user.Role>@SharedLocalizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@Html.PagedListPager(Model, PageIndex => Url.Action("GetSellers", new { PageIndex  }))
