@using X.PagedList.Mvc.Core
@model IPagedList<Order_Details>
@{
    int i = 0; ;
}
<link rel="stylesheet" href="~/css/PagedList.css" />

<h5 class="@SharedLocalizer["float"]"> @SharedLocalizer["Delivered Orders list:"]</h5>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@SharedLocalizer["Order_Id"]</th>
                <th scope="col">@SharedLocalizer["Total Price"]</th>
                <th scope="col">@SharedLocalizer["User Full Name"]</th>
                <th scope="col">@SharedLocalizer["User Email"]</th>
@*                <th scope="col">@SharedLocalizer["Payment Details"]</th>
*@                <th scope="col">@SharedLocalizer["Delete Order"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.ToList<Order_Details>())
            {
                String d = "delete" + order.Id.ToString();
                ConfirmModel y = new ConfirmModel()
                {
                    Id = order.Id,
                    TagID = d,
                    Controller = "Order",
                    Action = "Delete"

                };
                <tr>
                    <td>@(++i)</td>
                    <td>@order.Id</td>
                    <td>@order.Total</td>
                    <td>@order.user.First_Name  @order.user.First_Name</td>
                    <td>@order.user.Email</td>
@*                    <td>@order.Payment_id</td>
*@               
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@d">@SharedLocalizer["Delete"]</button>
                    </td>
                </tr>
                <partial name="Confirm" model="y"></partial>
            }
        </tbody>
    </table>
</div>
@Html.PagedListPager(Model, PageIndex => Url.Action("GetDeliveredOrders", new { PageIndex  }))
