@model DiscountModel
<div class="card">
    <div class="card-body">
        <form class="forms-sample" data-ajax="true" method="post" asp-controller="Discount" data-ajax-complete="ProductAdd" asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label @SharedLocalizer["float"]">@SharedLocalizer["Name"]</label>
                <input asp-for="Name" class="form-control" placeholder="@SharedLocalizer["Name"]">
                <span asp-validation-for="Name" class="alert-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Disc_Percent" class="form-label @SharedLocalizer["float"]">@SharedLocalizer["Discoun Percent"]</label>
                <input asp-for="Disc_Percent" class="form-control" placeholder="@SharedLocalizer["Discoun Percent"]">
                <span asp-validation-for="Disc_Percent" class="alert-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label @SharedLocalizer["float"]">@SharedLocalizer["Description"]</label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="alert-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="DescriptionAr" class="form-label @SharedLocalizer["float"]">@SharedLocalizer["DescriptionAr"]</label>
                <textarea asp-for="DescriptionAr" class="form-control" rows="4"></textarea>
                <span asp-validation-for="DescriptionAr" class="alert-danger"></span>

            </div>
            <button type="submit" class="btn btn-primary mr-2">@SharedLocalizer["Submit"]</button>
            <button class="btn btn-light">@SharedLocalizer["Cancel"]</button>
        </form>
    </div>
</div>

<script>
    function ProductAdd(data) {
        window.location.href = "/Discount/Show"
    }
</script>