<div class="modal fade" id="@Model.TagID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">@SharedLocalizer["Confirm Delete"]</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


                <h5>@SharedLocalizer["Are You sure  to delete this Item?"]</h5>

                
        </div>
        <div class="modal-footer">
                <a type="button" class="btn btn-danger" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-id="@Model.Id">@SharedLocalizer["Delete"]</a>
        </div>
    </div>
</div>
</div>