@model CategoryCreateModel
<div class="card">
    <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-description">
           
        </p> 
         
        <form data-ajax="true" class="forms-sample" data-ajax-complete="Sucess" method="post" asp-controller="Category" asp-action="AddCategory" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group ">
                <label asp-for="Name" class="form-label @SharedLocalizer["float"]"></label>
                <input asp-for="Name" class="form-control" placeholder="@SharedLocalizer["CategoryName"]">
                <span asp-validation-for="Name" class="alert-danger"></span>

            </div>
            <div class="form-group ">
                <label asp-for="NameAr" class="form-label @SharedLocalizer["float"]">@SharedLocalizer["CategoryNameAr"]</label>
                <input asp-for="NameAr" class="form-control" placeholder="@SharedLocalizer["CategoryNameAr"]">
                <span asp-validation-for="NameAr" class="alert-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label @SharedLocalizer["float"]"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="alert-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="DescriptionAr" class="form-label @SharedLocalizer["float"]">@SharedLocalizer["DescriptionAr"]</label>
                <textarea asp-for="DescriptionAr" class="form-control" rows="4"></textarea>
                <span asp-validation-for="DescriptionAr" class="alert-danger"></span>

            </div>
            <input type="submit" class="btn btn-primary mr-2  @SharedLocalizer["float"]" value="@SharedLocalizer["Add"]">
            <button class="btn btn-light  @SharedLocalizer["float"]">@SharedLocalizer["Cancel"]</button>
        </form>
    </div>
</div>

<script>
    function Sucess(data) {
        alert("Add Saccessfully")
        window.location.href = "/Category/Index";
    }
</script>