@model ProductsVM
@{
    ViewData["Title"] = SharedLocalizer["AddProduct"];
}
@{
    var Culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<div class="col-12 grid-margin ">
    <div class="row">
        
            <div class="col-12 grid-margin ">
                <div class="card d-flex justify-content-center">
                    <div class="card-body">
                    @*<h4 class="card-title  @SharedLocalizer["float"]">@SharedLocalizer["Add Product"]</h4>*@

                        <form data-ajax="true" enctype="multipart/form-data" class="form-sample" data-ajax-complete="ProductAdd" method="post" asp-action="AddProduct" asp-controller="Product">
                           
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">@SharedLocalizer["ProductName"]</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Name" type="text" class="form-control" />
                                            <span asp-validation-for="Name"></span>
                                        </div>

                                    </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@SharedLocalizer["ProductNameAr"]</label>
                                    <div class="col-sm-9">
                                        <input asp-for="NameAr" type="text" class="form-control" />
                                        <span asp-validation-for="NameAr"></span>
                                    </div>

                                </div>
                                </div>
                                @*  <div class="col-md-6">
                                <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Last Name</label>
                                <div class="col-sm-9">
                                <input type="text" class="form-control" />
                                </div>
                                </div>
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">@SharedLocalizer["Category"]</label>
                                        <div class="col-sm-9">
                                            <select asp-for="subCategory" class="form-control">
                                                @foreach (var cat in ViewBag.Category)
                                                {
                                                @if (Culture == "ar-EG")
                                                {
                                                    <option value="@cat.Id">@cat.BrandNameAr</option>
                                                }
                                                else
                                                {
                                                    <option value="@cat.Id">@cat.BrandName</option>
                                                }
                                                    
                                                }
                                            </select>
                                            <span asp-validation-for="subCategory"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="DiscountID" class="col-sm-3 col-form-label">@SharedLocalizer["Discount"]</label>
                                        <div class="col-sm-9">
                                            <select asp-for="DiscountID" class="form-control">
                                                @foreach (var cat in ViewBag.Discount)
                                                {
                                                    <option value="@cat.Id">@cat.Name</option>
                                                }
                                            </select>
                                            <span asp-validation-for="DiscountID"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="Description" class="col-sm-3 col-form-label"> @SharedLocalizer["Description"]</label>
                                        <div class="col-sm-9">
                                            <textarea asp-for="Description" type="text" class="form-control" rows="4"></textarea>
                                            <span asp-validation-for="Description"></span>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="DescriptionAr" class="col-sm-3 col-form-label"> @SharedLocalizer["DescriptionAr"]</label>
                                        <div class="col-sm-9">
                                            <textarea asp-for="DescriptionAr" type="text" class="form-control" rows="4"></textarea>
                                            <span asp-validation-for="DescriptionAr"></span>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="Images" class="col-sm-3 col-form-label"> @SharedLocalizer["Image"]</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Images" type="file" class="form-control" accept="image/*" multiple />
                                            <span asp-validation-for="Images"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                          
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="Price" class="col-sm-3 col-form-label">@SharedLocalizer["price"]</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Price" type="number" class="form-control" />
                                            <span asp-validation-for="Price"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="Qauntity" class="col-sm-3 col-form-label">@SharedLocalizer["Quantity"]</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Qauntity" type="number" class="form-control" />
                                            <span asp-validation-for="Qauntity"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div asp-validation-summary="All"></div>
                            <div class="text-center">
                            <button type="submit" class="btn btn-primary mr-2">@SharedLocalizer["Add"]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
    </div>
</div>
<script>
    function ProductAdd(data) {
        window.location.href = "/Product/GetAdminProduct"
    }
</script>
