@model ProductsVM
@{
    ViewData["Title"] = SharedLocalizer["Edit"];
}


   <div class="col-12 grid-margin ">
@*       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
*@              <div class="card d-flex justify-content-center">
                <div class="card-body">
            <h4 class="card-title">@SharedLocalizer["Edit Item"]</h4>
                  <form data-ajax="true" enctype="multipart/form-data"  class="form-sample" method="post" asp-action="EditProduct" asp-controller="Product" >
                    <p class="card-description">
                      @SharedLocalizer["ProductInfo"]
                    </p>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">@SharedLocalizer["ProductName"]</label>
                          <div class="col-sm-9">
                            <input asp-for="Name" type="text" class="form-control" value="@Model.Name"/>
                             <span asp-validation-for="Name"></span>
                          </div>
                          
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          
                          <div class="col-sm-9">
                            <input asp-for="No" type="number" class="form-control" hidden value="@Model.No" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">@SharedLocalizer["Category"]</label>
                          <div class="col-sm-9">
                            <select asp-for="subCategory" class="form-control" >
                                  @foreach (var cat in ViewBag.Category)
                                    {
                                        <option value="@cat.Id">@cat.BrandName</option>
                                    }
                            </select>
                            <span asp-validation-for="subCategory"></span>

                          </div>
                        </div>
                      </div>
                     
                    </div>

                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label asp-for="DiscountID" class="col-sm-3 col-form-label">@SharedLocalizer["Discount"]</label>
                          <div class="col-sm-9">
                            <select asp-for="DiscountID" class="form-control">
                                  @foreach (var cat in ViewBag.Discount)
                                    {
                                        <option value="@cat.Id">@cat.Name</option>
                                    }
                            </select>
                            <span asp-validation-for="DiscountID"></span>

                          </div>
                        </div>
                      </div>
                     
                    </div>
                  @*  <div class="row">
                         <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">@SharedLocalizer["CreatedAt"]</label>
                          <div class="col-sm-9">
                            <input type="datetime" asp-for="created_at" class="form-control" placeholder="dd/mm/yyyy"/>
                            <span asp-validation-for="created_at"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                     <div class="row">
                         <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">@SharedLocalizer["ModefiedAt"]</label>
                          <div class="col-sm-9">
                            <input type="datetime" asp-for="modified_at" class="form-control" placeholder="dd/mm/yyyy"/>
                            <span asp-validation-for="modified_at"></span>
                          </div>
                        </div>
                      </div>
                    </div>
*@
                   
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label"> @SharedLocalizer["Description"]</label>
                          <div class="col-sm-9">
                            <textarea asp-for="Description" type="text" class="form-control" rows="4" value="@Model.Description"></textarea>
                            <span asp-validation-for="Description"></span>
                          </div>
                        </div>
                      </div>
                 
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label asp-for="Price" class="col-sm-3 col-form-label">@SharedLocalizer["price"]</label>
                          <div class="col-sm-9">
                            <input asp-for="Price" type="number" class="form-control" value="@Model.Price"/>
                            <span asp-validation-for="Price"></span>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                    <div class="row">
                         <div class="col-md-6">
                        <div class="form-group row">
                          <label asp-for="Qauntity" class="col-sm-3 col-form-label">@SharedLocalizer["Quantity"]</label>
                          <div class="col-sm-9">
                            <input asp-for="Qauntity" type="number" class="form-control" value="@Model.Qauntity"/>
                            <span asp-validation-for="Qauntity"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-secondary">@SharedLocalizer["Edit"]</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>