@using X.PagedList.Web.Common
@model IPagedList<ProductsVM>
@{
    ViewData["Title"] = SharedLocalizer["SelledProducts"];
    
}

  

<div class="table-responsive">
    <table id="prodcuts" class="table table-hover">
        <thead>
            <tr>
          
                <th>
                    @SharedLocalizer["Name"]
                </th>
                <th>
                   @SharedLocalizer["Description"]
                </th>
                <th>
                     @SharedLocalizer["price"]
                </th>
           @*     <th>
                     @SharedLocalizer["CreatedAt"]
                </th>
                <th>
                      @SharedLocalizer["ModefiedAt"]
                </th>*@
                
                <th>                    
                      @SharedLocalizer["Category"]
                </th>
                <th>
                    @SharedLocalizer["Quantity"]
                </th>
                <th>
                   @SharedLocalizer["Discount"]
                </th>
                <th>
                      @SharedLocalizer["Delete"]
                </th>
                  <th>
                      @SharedLocalizer["Edit"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.ToList<ProductsVM>())
            {
                String d = "delete" + product.No.ToString();
                ConfirmModel y = new ConfirmModel()
                {
                    Id = product.No,
                    TagID = d,
                    Controller= "Product",
                    Action = "ConfirmDelete"

                };
                <tr>
                    
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
              @*      <td>@product.created_at</td>
                    <td>@product.modified_at</td>*@
                   
                    <td>@product.Category</td>
                    <td>@product.Qauntity</td>
                    <td>@product.Discount</td>
                    <td>
                        @*<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@d">@SharedLocalizer["Delete"]</button>*@

                        <a asp-action="Delete" asp-controller="Product" asp-route-Id="@product.No" class="btn btn-danger">@SharedLocalizer["Delete"]</a></td>
                    <td><a asp-action="Edit" asp-controller="Product" asp-route-Id="@product.No" class="btn btn-success">@SharedLocalizer["Edit"]</a></td>

                    <partial name="Confirm" model="y"></partial>

                </tr>
            }
        </tbody>
    </table>
     @Html.PagedListPager(Model, pageIndex => Url.Action("GetAdminProduct", new { pageIndex  }))
</div>

