@model IEnumerable<ProductsVM>
@{
    ViewData["Title"] = "GetProductExisting";
   
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
              <tr>
          
                <th>
                    @SharedLocalizer["Name"]
                </th>
                <th>
                   @SharedLocalizer["Description"]
                </th>
                <th>
                     @SharedLocalizer["price"]
                </th>
                <th>
                     @SharedLocalizer["CreatedAt"]
                </th>
                <th>
                      @SharedLocalizer["ModefiedAt"]
                </th>
                <th>
                    @SharedLocalizer["DeletedAt"]
                </th>
                <th>                    
                      @SharedLocalizer["Category"]
                </th>
               @* <th>
                    @SharedLocalizer["InventoryId"]
                </th>*@
                <th>
                   @SharedLocalizer["Discount"]
                </th>
                <th>
                    @SharedLocalizer["progress"]
                </th>
                <th>
                      @SharedLocalizer["Delete"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                      
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>@product.created_at</td>
                    <td>@product.modified_at</td>
                    <td>@product.deleted_at</td>
                    <td>@product.Category</td>
                    @*<td>@product.inventory_Id</td>*@
                    <td>@product.Discount</td>
                    <td>@product.Progress</td>

                    <td><a asp-action="Delete" asp-controller="Product" asp-route-Id="@product.No" class="btn btn-danger">@SharedLocalizer["Delete"]</a></td>
               </tr>

            }
        </tbody>
    </table>
</div>
